@charset "utf-8";

.popup
{
	position: fixed;
	width: 100%;
	opacity: 0.7;
	top: 0px;
	min-height: 200px;
	height: 100%;
	z-index: 100;
	background: #FFFFFF ;
	font-size: 20px;
	text-align: center;
	display:none;
	background-color: #CCCCCC;
  

}
#login_form
{
	position:absolute;
	width:200px;
	top:100px;
	left:45%;
	opacity: 1.0;
	background-color:#333333;
	padding:10px;
	border:2px groove #000000;
	display:none;
	z-index:101;
	font-size:15px;
	border-radius: 10px;   

	
}
